@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Roboto, sans-serif;
}

html, body {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.recruitment-module {
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 90px auto;
}

.recruitment-module figure {
  width: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.recruitment-module img {
  content: url("../../images/sean-538.jpg");
}

.recruitment-module .content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 90px;
}

.recruitment-module .content h1 {
  font-size: 42px;
  font-weight: 700;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.recruitment-module .content p {
  width: 60%;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}

.recruitment-module .content button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #E4C1AE;
  padding: 16px 40px;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 48px;
}

.popupBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 82;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
}

.popupContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupContainer .popupBox {
  width: 880px;
  height: 210px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  z-index: 90;
}

.popupContainer .popupBox h2 {
  font-size: 42px;
  font-weight: 700;
  padding-left: 95px;
  margin: 0;
}

.popupContainer .popupBox p {
  font-weight: 300;
  font-size: 16px;
  padding-left: 95px;
  margin-top: 24px;
}

.popupContainer .popupBox .closeBtn {
  position: absolute;
  top: 46px;
  right: 46px;
}

.popupContainer .popupBox .closeBtn:after {
  display: inline-block;
  content: "\00d7";
  font-size: 32px;
  color: #121212;
  font-weight: 300;
}

.popupContainer .popupBox .resetBttn {
  display: block;
  font-size: 16px;
  background-color: #121212;
  color: #fff;
  font-weight: 300;
  padding: 8px 20px;
  border-radius: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  display: none;
}

.popupContainer .popupBox .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1480px) {
  .recruitment-module {
    width: 992px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5vh auto;
  }
  .recruitment-module img {
    content: url("../../images/sean-450.jpg");
  }
}

@media only screen and (max-width: 992px) {
  .recruitment-module {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5vh auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recruitment-module figure {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recruitment-module img {
    content: url("../../images/sean-720.jpg");
  }
  .recruitment-module .content {
    width: 100%;
    padding: 0 20px;
  }
  .recruitment-module .content h1, .recruitment-module .content p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recruitment-module .content button {
    margin: 5vh auto;
  }
}

@media only screen and (max-width: 768px) {
  .recruitment-module img {
    content: url("../../images/sean-450.jpg");
  }
}

@media only screen and (max-width: 460px) {
  .recruitment-module img {
    content: url("../../images/sean-200.jpg");
  }
}
/*# sourceMappingURL=main.css.map */